In [5]:
import sqlite3
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')
c = conn.cursor()
for row in c.execute("SELECT * FROM Facilities"):
    print(row)

(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [14]:
#Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. Remember
#that there's a different cost for guests and members!

for row in c.execute(
"""SELECT sub.name, SUM(sub.revenue) AS revenue
FROM (
    SELECT b.facid, f.name, COUNT(b.facid) AS facid_count,
        CASE
            WHEN b.memid = 0 THEN COUNT(f.name) * f.guestcost
            ELSE COUNT(f.name) * f.membercost
        END AS 'revenue'
    FROM Bookings AS b
    LEFT JOIN Facilities AS f ON b.facid = f.facid
    GROUP BY f.name, b.memid
) AS sub
GROUP BY sub.facid
HAVING revenue <= 1000;"""                     
                     ):
    print(row)

('Badminton Court', 604.5)
('Table Tennis', 90)
('Snooker Table', 115)
('Pool Table', 265)

In [15]:
#Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

for row in c.execute(
"""SELECT m2.surname || ', ' || m2.firstname AS member, m1.surname || ', ' || m1.firstname AS recommendedby
FROM Members AS m1
LEFT JOIN Members AS m2 ON m2.recommendedby = m1.memid
ORDER BY member;"""                     
                     ):
    print(row)

(None, 'GUEST, GUEST')
(None, 'Dare, Nancy')
(None, 'Boothe, Tim')
(None, 'Owen, Charles')
(None, 'Baker, Anne')
(None, 'Smith, Jack')
(None, 'Pinker, David')
(None, 'Mackenzie, Anna')
(None, 'Coplin, Joan')
(None, 'Sarwin, Ramnaresh')
(None, 'Jones, Douglas')
(None, 'Rumney, Henrietta')
(None, 'Farrell, David')
(None, 'Worthington-Smyth, Henry')
(None, 'Tupperware, Hyacinth')
(None, 'Hunt, John')
(None, 'Crumpet, Erica')
(None, 'Smith, Darren')
('Bader, Florence', 'Stibbons, Ponder')
('Baker, Anne', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Boothe, Tim', 'Rownam, Tim')
('Butters, Gerald', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Crumpet, Erica', 'Smith, Tracy')
('Dare, Nancy', 'Joplette, Janice')
('Genting, Matthew', 'Butters, Gerald')
('Hunt, John', 'Purview, Millicent')
('Jones, David', 'Joplette, Janice')
('Jones, Douglas', 'Jones, David')
('Joplette, Janice', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Pinker, David', 'Farrell, Jemima')
('Purview, Millicent', 'Smith, Tracy')
('Rumney, Henrietta', 'Genting, Matthew')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Smith, Jack', 'Smith, Darren')
('Stibbons, Ponder', 'Tracy, Burton')
('Worthington-Smyth, Henry', 'Smith, Tracy')

In [16]:
#Q12: Find the facilities with their usage by member, but not guests

for row in c.execute(
"""SELECT f.name as facility, sum(b.slots) AS visits
FROM Facilities AS f
LEFT JOIN Bookings as b
ON f.facid = b.facid
WHERE b.memid <> 0
GROUP BY facility;"""                     
                     ):
    print(row)

('Badminton Court', 1086)
('Massage Room 1', 884)
('Massage Room 2', 54)
('Pool Table', 856)
('Snooker Table', 860)
('Squash Court', 418)
('Table Tennis', 794)
('Tennis Court 1', 957)
('Tennis Court 2', 882)

In [18]:
#Q13: Find the facilities usage by month, but not guests

for row in c.execute(
"""SELECT f.name AS facility, strftime('%m', b.starttime) AS month, SUM(b.slots) AS visits
FROM Facilities AS f
LEFT JOIN Bookings AS b ON f.facid = b.facid
WHERE b.memid <> 0
GROUP BY facility, month;"""                     
                     ):
    print(row)

('Badminton Court', '07', 165)
('Badminton Court', '08', 414)
('Badminton Court', '09', 507)
('Massage Room 1', '07', 166)
('Massage Room 1', '08', 316)
('Massage Room 1', '09', 402)
('Massage Room 2', '07', 8)
('Massage Room 2', '08', 18)
('Massage Room 2', '09', 28)
('Pool Table', '07', 110)
('Pool Table', '08', 303)
('Pool Table', '09', 443)
('Snooker Table', '07', 140)
('Snooker Table', '08', 316)
('Snooker Table', '09', 404)
('Squash Court', '07', 50)
('Squash Court', '08', 184)
('Squash Court', '09', 184)
('Table Tennis', '07', 98)
('Table Tennis', '08', 296)
('Table Tennis', '09', 400)
('Tennis Court 1', '07', 201)
('Tennis Court 1', '08', 339)
('Tennis Court 1', '09', 417)
('Tennis Court 2', '07', 123)
('Tennis Court 2', '08', 345)
('Tennis Court 2', '09', 414)